html,
body {
  background-color: rgba(19, 19, 19, 255);
}
.skill-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 5px solid rgb(41, 41, 41);
  border-bottom: 5px solid rgb(41, 41, 41);
  height: "75vh";
  color: #ffffff;
  padding-left: 5%;
  padding-bottom: 5%;
}

.skill {
  font-size: 24px;
  width: 440px;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  justify-content: space-between;
  align-items: center;
}
.skill-name {
  width: 180px;
  margin-right: 25px;
  overflow-wrap: anywhere;
}
.skill-bar {
  width: 250px;
  background-color: dimgrey;
  height: calc(1vw + 1vh);
  border-radius: 5px;
}
